@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  padding: 0;
  margin: 0;
}

hmtl {
  scroll-behavior: smooth;
}

.navContainer {
  position: relative;
}

.navContainer {
  height: auto;
}

.navContainer .subContainer {
  padding-top: 2em;
  padding-bottom: .5em;
}

.navContainer h2 {
  padding-top: .4em;
  font-family: 'Rubik', sans-serif;
}

.firstContainer {
  padding-top: 5%;
}

.main-container .left {
  padding-top: 2%;
}

.main-container .oneVid {
  height: 550px;
  margin-top: -19%;
  z-index: -10;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 10%;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'Dosis', sans-serif;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

li a {
  text-decoration: none;
  color: black;
}

li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #11023a;
  font-style: italic;
  font-weight: 600;
}

.sectionPara {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
  margin-left: 5%;
}

.secContainer {
  margin-top: 5%;
}

.animateMe {
  opacity: .8;
  font-family: Dosis;
  -webkit-animation: bounce 5s infinite;
          animation: bounce 5s infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  font-size: 1.8rem;
}

@-webkit-keyframes bounce {
  40% {
    opacity: .6;
    color: #a33030;
  }
  50% {
    opacity: .7;
    color: #11023a 67, 9, 133;
  }
  60% {
    opacity: .8;
    color: #11023a 67, 9, 133;
  }
  70% {
    opacity: .9;
    color: #11023a 67, 9, 133;
  }
  80% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  85% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  90% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  95% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  100% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
}

@keyframes bounce {
  40% {
    opacity: .6;
    color: #a33030;
  }
  50% {
    opacity: .7;
    color: #11023a 67, 9, 133;
  }
  60% {
    opacity: .8;
    color: #11023a 67, 9, 133;
  }
  70% {
    opacity: .9;
    color: #11023a 67, 9, 133;
  }
  80% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  85% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  90% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  95% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
  100% {
    opacity: 1;
    color: #11023a 67, 9, 133;
  }
}

.btnContainer {
  padding-top: 2%;
}

.btnContainer .btnn {
  color: white;
  border: none;
  background: none;
  width: auto;
  height: 2.9rem;
  border-radius: 10px;
  background: #014f70;
  -webkit-box-shadow: 0 9px 35px #671d00;
          box-shadow: 0 9px 35px #671d00;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 1.2em;
  font-family: 'Rubik', sans-serif;
  padding-inline: 10%;
}

.btnContainer .btnn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 9px 35px black;
          box-shadow: 0 9px 35px black;
  border-radius: 15px;
}

.info-header {
  font-size: 'Dosis', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.c1 {
  text-align-last: center;
}

.secondContainer {
  margin-top: -.3%;
  border-top-left-radius: 15px;
  border-top-right-radius: 45px;
  background: white;
  background: linear-gradient(218deg, #eaa6f5 0%, white 50%, #f3f2f2 100%);
}

.card-container {
  padding-block: 5%;
}

label {
  color: black;
}

.card {
  height: 90%;
  -webkit-box-shadow: 0 9px 35px #671d00;
          box-shadow: 0 9px 35px #671d00;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 15%;
}

.card:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

@media only screen and (max-width: 1000px) {
  .mainbtnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainbtnContainer .btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .oneVid {
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .oneVid {
    height: 300px;
    padding: none;
    margin: none;
  }
  .sectionPara {
    text-align: center;
  }
}

@media only screen and (max-width: 990px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */