// google fonts imports
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*{
    padding: 0;
    margin: 0;
}
hmtl{
    scroll-behavior: smooth;
}

// parent class for navbar

.navContainer{
    position: relative;
}
.navContainer{
    height: auto;

    .subContainer{
        padding-top: 2em;
        padding-bottom: .5em;
    }
     h2{
        padding-top: .4em;
        font-family: 'Rubik', sans-serif;
     }
}

.firstContainer{
    padding-top: 5%;
}
.main-container{
    .left{
        padding-top: 2%;
    }
    .oneVid{
        height: 550px;
        margin-top: -19%;
        z-index:-10;
    }  
}
   li{
    list-style: none;
    display: inline-block;
    padding-right: 10%;
    cursor: pointer;
    font-size: 1.3rem; 
    font-family: 'Dosis', sans-serif;
    transition: all 250ms ease-in-out;
     
    a{
        text-decoration: none;
        color: black;
    }
}

li:hover{
    transform:scale(1.2);
    color: rgb(17, 2, 58);
    font-style: italic;
    font-weight: 600;
}
   
.sectionPara{
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    margin-left: 5%;
  
}

.secContainer{
    margin-top: 5%;
}
.animateMe{
    opacity: .8 ;
    font-family: Dosis;
    // animation properties
    animation: bounce 5s infinite;
    animation-timing-function: ease-in;
    font-size: 1.8rem;
}
@keyframes bounce{

    40%{opacity: .6;
        color: rgb(163, 48, 48);}

    50%{opacity: .7;
        color:rgb(17, 2, 58)(67, 9, 133)}

    60%{opacity: .8;
        color:rgb(17, 2, 58)(67, 9, 133)}

    70%{opacity: .9;
        color:rgb(17, 2, 58)(67, 9, 133)}

    80%{opacity: 1;
        color:rgb(17, 2, 58)(67, 9, 133)
    }

    85%{opacity: 1;
        color:rgb(17, 2, 58)(67, 9, 133)}

    90%{opacity: 1;
        color:rgb(17, 2, 58)(67, 9, 133);
    }

    95%{opacity: 1;
        color:rgb(17, 2, 58)(67, 9, 133);
    }
    100%{
        opacity: 1;
        color:rgb(17, 2, 58)(67, 9, 133);
    }
}
.btnContainer{
    padding-top: 2%;

        .btnn{
            color: white;
            border: none;
            background: none;
            width: auto;
            height: 2.9rem;
            border-radius: 10px;
            background: rgb(1, 79, 112);
            box-shadow: 0 9px 35px rgb(103, 29, 0);
            transition: all .3s ease-in-out;
            font-size: 1.2em;
            font-family: 'Rubik', sans-serif;
            padding-inline: 10%;
        }
        .btnn:hover{
            transform: scale(1.1);
            box-shadow: 0 9px 35px rgb(0, 0, 0);
            border-radius: 15px;
        }
      
}

.info-header{
    font-size: 'Dosis', sans-serif;
    font-size: 2em;
    font-weight: 600;
}


.c1{
    text-align-last: center;
}

// card container starts here
.secondContainer{
    margin-top: -.3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 45px;
    background: rgb(255,255,255);
    background: linear-gradient(218deg, rgb(234, 166, 245) 0%, rgb(255, 255, 255) 50%, rgb(243, 242, 242) 100%);    
}
.card-container{
    padding-block: 5%;
}
label{
    color: black;
}
.card{
    height: 90%;
    box-shadow: 0 9px 35px rgb(103, 29, 0);
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-bottom: 15%;
}
.card:hover{
    transform: scale(1.07);
}


// media Queries
@media only screen and (max-width: 1000px) {
   .mainbtnContainer{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .btnContainer{
            display: flex; 
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
   }
   .oneVid{
    height: 400px;
}
  }
  @media only screen and (max-width: 500px) {
    .oneVid{
        height: 300px;
        padding: none;
        margin: none;
    }
    .sectionPara{
        text-align: center;
    }
  
   }
   @media only screen and (max-width: 990px) {
    .header{
        display: flex;
        justify-content: center;
        align-items:center;
    }
   }
